<div class="row">
  <div class="col-3">
    <div *ngIf="div1Visible" class="bg-success p-3">Div 1</div>
  </div>
  <div class="col-3">
    <div *ngIf="isChecked; else unchecked" class="bg-primary p-3">Checkbox is checked</div>
    <ng-template #unchecked>
      <div class="bg-danger p-3">Checkbox is unchecked</div>
    </ng-template>
  </div>
  <div class="col-3">
    <span *ngIf="dayName == 'noon'">Monday</span>
    <span *ngIf="dayName == 'tue'">Tuesday</span>
    <span *ngIf="dayName == 'wed'">Wednesday</span>
    <span *ngIf="dayName != 'noon' && dayName != 'tue' && dayName != 'wed'">Enter Proper Day Name</span>
  </div>
</div>

<div class="row pt-4">
  <div class="col-3">
    <button class="btn btn-success" (click)="hideShowDiv1(true)">Show</button>
    <button class="btn btn-danger" (click)="hideShowDiv1(false)">Hide</button>
  </div>
  <div class="col-3">
    <input type="checkbox" [(ngModel)]="isChecked" />
  </div>
  <div class="col-3">
    <input
      type="text"
      [(ngModel)]="dayName"
      maxlength="3"
      placeholder="Enter Days starting"
    />
  </div>
</div>

<div class="row">
  <div class="col-3">
    <select>
      <option *ngFor="let items of cityList">{{ items }}</option>
    </select>
  </div>
  <div class="col-3">
    <button *ngFor="let city of cityList" class="btn btn-success">{{ city }}</button>
  </div>
</div>

<div class="row">
  <div class="col-5">
    <table>
      <thead>
      <tr>
        <th>Sr No</th>
        <th>Name</th>
        <th>City</th>
        <th>Mobile No</th>
      </tr>
      </thead>
      <tbody>
        @for (item of employeeArray; track $index) {
          <tr>
            <td>{{$index+1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.contactNo}}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
