<button class="btn btn-success">Go to Admin</button>

<div class="row">
  <div class="col-6">
    <button class="btn btn-primary" (click)="navigatetoadmin()">Navigate to Admin Page</button>
    <p>1.Interpolation</p>
    <p>firstName => {{firstName}}</p>
    <div>{{rollNo}}</div>
    <span>{{isActive}}</span>
  </div>

  <div class="col-6">
    <p>2. Property Binding</p>
    <input type="text" [value]="firstName">
    <br>
    <input type="text" [placeholder]="myPlaceholder">
    <br>
    <div [class]="divClassName" style="height: 100px; width: 100px"></div>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <button class="btn btn-success" (click)="showWelcomeMessage()">Show Welcome button</button>
  </div>

  <div class="col-3">
    <select (change)="onCityChanges($event)">
      <option value="Mumbai">Pune</option>
      <option value="Chennai">Chennai</option>
      <option value="New Delhi">New Delhi</option>
      <option value="Bengaluru">Bengaluru</option>
    </select>
    - {{selectedCity}}
  </div>
</div>

<div class="row">
  <div class="col-3">
    <input type="text" [(ngModel)]="firstName">
  </div>
</div>
