<div class="row">
    <div class="col-6">
        <p>1. Interpolation</p>
        <p>firstName => {{firstName}}</p>
        <div>
            {{rollNo}}
        </div>
        <span>{{isActive}}</span>
    </div>
    <div class="col-6">
        <p>2. Property Binding</p>
        <input type="text" [value]="firstName" name="" id="">
        <br>
        <input type="text" [placeholder]="myPlaceholder" name="" id="">
        <br>
        <div [class]="divClassName" style="height: 100px; width: 100px">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <button class="btn btn-success" (click)="showWelcomeMessage()">Show Welcome button</button>
    </div>
    <div class="col-3">
        <select (change)="onCityChanges()">
            <option value="Mumbai">Pune</option>
            <option value="Chennai">Chennai</option>
            <option value="New Delhi">New Delhi</option>
            <option value="Bengaluru">Bengaluru</option>
        </select>
        -{{selectedCity}}
    </div>
</div>
<div class="row">
    <div class="col-3">
        <input type="text"> [(ngModel)]="firstName">
    </div>
</div>